# torchaudio==0.5.1
# torch==1.7.1
# einops==0.3.0
# librosa==0.6.0
# webrtcvad==2.0.10
# numpy==1.19.0
# scipy==1.5.1
# matplotlib==3.3.3
tb-nightly
future
tqdm~=4.64.1
tgt~=1.4.4
torchaudio~=0.13.1
torch~=1.13.1
einops~=0.6.0
librosa~=0.10.0
webrtcvad~=2.0.10
numpy~=1.23.5
scipy~=1.10.1
matplotlib~=3.7.0
chardet
Encoder~=1.1
scikit-learn~=1.2.1